TELEGRAM_BOT_TOKEN=723456789:ABCdefGHIjklMNOpqrsTUVwxyZ
TELEGRAM_CHANNEL_ID=-1001234567890

BALE_PHONE_NUMBER=+989123456789
BALE_SESSION=your_extracted_access_token_from_web_bale_ai
BALE_CHANNEL_ID=12345678

LOG_LEVEL=INFO